<div style="text-align: center">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <a style="color:antiquewhite">Blog App</a>
      </div>
    </div>
    
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/about']">About</a></li>
          <li><a [routerLink]="['/create']">Post a blog</a></li>
        </ul>
        
        
      </div><!-- /.navbar-collapse -->
    </div>
    </nav>
    
  </div>
</div>
<br>

<router-outlet></router-outlet>